{% extends 'home/base.html' %}

{% load static %}

{% block conteudo  %}
{% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#B0C4DE;" >
    <a class="navbar-brand" href="#">
    <img src="{% static 'imgs/logo.jpg'%}" width="45" height="40" alt="">
    </a>

    <div class="btn-group">
    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Usuário: <strong>{{ user.username }}</strong>
    </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a href="{% url 'password_change' %}" class="dropdown-item">Mudar minha senha.</a>
            <a href="{% url 'listar_acessos' user.username %}" class="dropdown-item">Ver meus acessos.</a>
            <a href="{% url 'logout' %}" class="dropdown-item">Sair</a>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="{% url 'material:listar' %}" class="btn btn-lg btn-dark" >Material</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="{% url 'publico:listar' %}" class="btn btn-lg btn-dark">Público</a>
            </li>
        </ul>

    </div>
  </nav>


{% else %}
    <div class="box">
        <h2>Programa Plenitude.</h2>
        <a href="{% url 'login'%}" style="align:center;">Entrar</a>
    </div>
{% endif %}


{% endblock %}