{% extends 'home/base.html' %}

{% load static %}

{% block conteudo  %}
<div style="margin-left:50px; margin-top:50px;">
  <h2 id="aga2">Entre nova senha!</h2>
  <form method="POST">
    {% csrf_token %}
    <table class="tb_ficha">
      <tr>
        <td><label>Nova senha:</label></td>
        <td><input id="senha1" name="password1" type="password"/></td>
      </tr>
      <tr>
        <td><label>Repita a nova senha:</label></td>
        <td><input id="senha2" name="password2" type="password"/></td>
      </tr>
    <tr>
      <td><input type="submit" value="Alterar minha senha."></td>
      <td><a href="{% url 'home' %}" class="btn btn-primary">Voltar</a></td>
    </tr>
      {% if msn %}
      <td><p id="pmsn">{{ msn }}</p></td>
      {% endif %}
    </table>
  </form>
</div>

{% endblock %}